body {
    --h1-font: 'SF Pro Rounded', ui-rounded, system-ui, BlinkMacSystemFont, 'Inter', serif;
    --h2-font: 'SF Pro Rounded', ui-rounded, system-ui, BlinkMacSystemFont, 'Inter', serif;
    --h3-font: 'SF Pro Rounded', ui-rounded, system-ui, BlinkMacSystemFont, 'Inter', serif;
    --h4-font: 'SF Pro Rounded', ui-rounded, system-ui, BlinkMacSystemFont, 'Inter', serif;
    --h5-font: 'SF Pro Rounded', ui-rounded, system-ui, BlinkMacSystemFont, 'Inter', serif;
    --h6-font: 'SF Pro Rounded', ui-rounded, system-ui, BlinkMacSystemFont, 'Inter', serif;
    --h1-size: 2em;
    --h2-size: 1.75em;
    --h3-size: 1.5em;
    --h4-size: 1.25em;
    --h5-size: 1.125em;
    --h6-size: 1em;
    font-variant-ligatures: common-ligatures;
    --font-text: 'New York', ui-serif, -apple-system, BlinkMacSystemFont, serif;
    --font-editor: 'New York', ui-serif, -apple-system, BlinkMacSystemFont, serif;
    --font-monospace: 'JetBrains Mono', ui-monospace, monospace;
    --font-ui: 'SF Pro', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.cm-lapel {
    font-family: 'SF Pro Rounded', ui-rounded, -apple-system, system-ui, BlinkMacSystemFont, 'Inter', serif;
    font-size: var(--font-medium);
}